{% extends "base.html" %}
{% block content %}

    <div>
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <ul>
        {% for category, message in messages %}
      <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
        </ul>
        {% endif %}
      {% endwith %}
    </div>

     <div class="Seatbooking_Airline">
        <form method="post">
        <label for="airline">Airline:</label>
        <select id="airline" name="airline">
            {% for airline in airlines %}
                <option value="{{ airline[0] }}">{{ airline[0] }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Select">
        </form>
    </div>

    <h2 style="text-align: center;">Seat Cancelation</h2>
    <h3 style="text-align: center;">Currently Selected Airline: {{selected_airline}}</h3>

    <table id="reservation_table" class="SeatCancel">
      <thead>
        <tr>
          <th>Seat ID</th>
          <th>Username</th>
          <th>Name</th>
          <th>Airline</th>
        </tr>
      </thead>
      <tbody>
        {% for seat in can_reserved_seats %}
          <tr>
            <td>{{ seat.seat_id }}</td>
            <td>{{ seat.username }}</td>
            <td>{{ seat.name }}</td>
            <td>{{ seat.airline }}</td>
            <td>
              <form action="{{ url_for('main.delete_reservation', seat_id=seat.seat_id) }}" method="POST">
                <input type="hidden" id="airline" name="airline" value="{{ selected_airline }}">
                <input type="submit"  value="Delete" onclick="return confirm('Are you sure want to delete the selected seat?')" />
              </form>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <div class="tooltip">HELP ME
      <span class="tooltiptext"> Choose a seat chart and click on filter. Now you can delete seats. </span>
    </div>
{% endblock %}