{% extends "base.html" %}

{% block content %}

<div class="flash-messages">
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul>
        {% for category, message in messages %}
      <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
  {% endwith %}
</div>


<h1 style="text-align: center;"> Upload File</h1>
<div class="Upload">
    <form method="post" enctype="multipart/form-data">
      <input type="file" name="file">
      <input type="submit" value="Upload">
    </form>
<div>
<div class="tooltip">HELP ME
<span class="tooltiptext"> Choose a txt file to upload the seat chart of an airline. </span>
</div>
{% endblock %}
