{% extends "base.html" %}
{% block content %}

<style>
    th,
    td {
        border: 1px solid #000000;
        padding: 8px;
        text-align: center;
        align-items: center;
    }

    th {
        background-color: rgba(187, 185, 185, 0.99);
        font-weight: bold;
        align-items: center;
    }

    select {
        padding: 5px;
        border-radius: 5px;
        border: 2px solid #000000;
        font-size: 14px;
    }
</style>


<table class="Seatdata">
    <tr>
        <th>Seat ID</th>
        <th>
            Airline
            <select id="airline-filter">
                <option value="">All</option>
                {% for airline in airlines %}
                <option value="{{ airline }}">{{ airline }}</option>
                {% endfor %}
            </select>
        </th>
        <th>
            Status
            <select id="status-filter">
                <option value="">All</option>
                <option value="reserved">Reserved</option>
                <option value="available">Available</option>
            </select>
        </th>
    </tr>
</table>


<table class="Seatdata">
    <tr>
        <th>Seat ID</th>
        <th>Airline</th>
        <th>Status</th>
    </tr>
    {% for seat in seats %}
    <tr class="seat">
        <td>{{ seat.seat_id }}</td>
        <td class="airline">{{ seat.airline }}</td>
        <td class="status">{{ seat.status }}</td>
    </tr>
    {% endfor %}
</table>

<script src="/static/table_seats_stats_filter.js"></script>

{% endblock %}
