{% extends "base.html" %}

{% block content %}

<div class="flash-messages">
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul>
        {% for category, message in messages %}
      <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
  {% endwith %}
</div>


<div class="login">
    <h3 class="title">Login</h3>
    <div class="from_box">
        <form method="POST" action="/login">
            <div class="form">
                <div class="control">
                    <input type="text" name="username" placeholder="Your Username" required>
                </div>
            </div>
            <div class="form">
                <div class="control">
                    <input type="password" name="password" placeholder="Your Password" required>
                </div>
            </div>
            <button class="Login_button">Login</button>
        </form>
    </div>
</div>

<div class="tooltip">HELP ME
  <span class="tooltiptext"> Login with your username and password. </span>
</div>
{% endblock %}